{
	"$schema": "https://json.schemastore.org/swcrc",
	"sourceMaps": true,
	"jsc": {
		"parser": {
			"syntax": "typescript",
			"decorators": true,
			"dynamicImport": true
		},
		"transform": {
			"legacyDecorator": true,
			"decoratorMetadata": true
		},
		"paths": {
      "@utils/*": [
        "dist/utils/*"
      ],
      "@modules/*": [
        "dist/modules/*"
      ],
      "@/*": [
        "dist/*"
      ]
		}
	}
}
